# Series e Dataframes

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd?

In [4]:
series = pd.Series([7, 4, 2, np.nan])

In [5]:
series

0    7.0
1    4.0
2    2.0
3    NaN
dtype: float64

In [6]:
type(series)

pandas.core.series.Series

In [7]:
dates = pd.date_range('20180101', periods=6)

In [8]:
print(dates)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(data=np.random.rand(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-01-01  0.492732  0.141577  0.773840  0.780357
2018-01-02  0.849661  0.332111  0.940502  0.993150
2018-01-03  0.753198  0.143515  0.000320  0.167489
2018-01-04  0.105705  0.324764  0.295004  0.876851
2018-01-05  0.740706  0.848663  0.550782  0.230588
2018-01-06  0.174053  0.359006  0.615979  0.584265

In [10]:
df = pd.DataFrame(data=np.random.rand(5, 6), index=range(0, 5), columns=[f'Taxa {num}' for num in range(0, 6)])
df

     Taxa 0    Taxa 1    Taxa 2    Taxa 3    Taxa 4    Taxa 5
0  0.496639  0.389942  0.634060  0.397638  0.002819  0.676669
1  0.905235  0.554464  0.098561  0.423028  0.948443  0.439610
2  0.886973  0.416917  0.784853  0.747782  0.644559  0.002698
3  0.565382  0.601669  0.933853  0.529841  0.411579  0.154586
4  0.027249  0.221373  0.057010  0.990524  0.293511  0.137399

In [11]:
dict_data = {'A': 10, 'B': pd.Timestamp('20190101'), 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 'D': np.array([3] * 4, dtype='int32'), 'E': pd.Categorical(['test', 'train', 'teste', 'train'])}
df2 = pd.DataFrame(dict_data)
df2

    A          B    C  D      E
0  10 2019-01-01  1.0  3   test
1  10 2019-01-01  1.0  3  train
2  10 2019-01-01  1.0  3  teste
3  10 2019-01-01  1.0  3  train

In [12]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [13]:
df2.shape

(4, 5)

In [14]:
df.head(2)

     Taxa 0    Taxa 1    Taxa 2    Taxa 3    Taxa 4    Taxa 5
0  0.496639  0.389942  0.634060  0.397638  0.002819  0.676669
1  0.905235  0.554464  0.098561  0.423028  0.948443  0.439610

In [15]:
df['F'] = 1
df

     Taxa 0    Taxa 1    Taxa 2    Taxa 3    Taxa 4    Taxa 5  F
0  0.496639  0.389942  0.634060  0.397638  0.002819  0.676669  1
1  0.905235  0.554464  0.098561  0.423028  0.948443  0.439610  1
2  0.886973  0.416917  0.784853  0.747782  0.644559  0.002698  1
3  0.565382  0.601669  0.933853  0.529841  0.411579  0.154586  1
4  0.027249  0.221373  0.057010  0.990524  0.293511  0.137399  1

In [16]:
df.tail(3)

     Taxa 0    Taxa 1    Taxa 2    Taxa 3    Taxa 4    Taxa 5  F
2  0.886973  0.416917  0.784853  0.747782  0.644559  0.002698  1
3  0.565382  0.601669  0.933853  0.529841  0.411579  0.154586  1
4  0.027249  0.221373  0.057010  0.990524  0.293511  0.137399  1

In [17]:
df['product'] = df['Taxa 0'] * 10
df

     Taxa 0    Taxa 1    Taxa 2    Taxa 3    Taxa 4    Taxa 5  F   product
0  0.496639  0.389942  0.634060  0.397638  0.002819  0.676669  1  4.966387
1  0.905235  0.554464  0.098561  0.423028  0.948443  0.439610  1  9.052348
2  0.886973  0.416917  0.784853  0.747782  0.644559  0.002698  1  8.869733
3  0.565382  0.601669  0.933853  0.529841  0.411579  0.154586  1  5.653823
4  0.027249  0.221373  0.057010  0.990524  0.293511  0.137399  1  0.272492

In [18]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [19]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [21]:
df.columns

Index(['Taxa 0', 'Taxa 1', 'Taxa 2', 'Taxa 3', 'Taxa 4', 'Taxa 5', 'F',
       'product'],
      dtype='object')

In [22]:
df2_columns = df2.columns
df2_columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [23]:
df.to_numpy()

array([[4.96638729e-01, 3.89942456e-01, 6.34059749e-01, 3.97638040e-01,
        2.81929534e-03, 6.76668838e-01, 1.00000000e+00, 4.96638729e+00],
       [9.05234850e-01, 5.54464368e-01, 9.85612131e-02, 4.23027666e-01,
        9.48443243e-01, 4.39609975e-01, 1.00000000e+00, 9.05234850e+00],
       [8.86973292e-01, 4.16916762e-01, 7.84852743e-01, 7.47781614e-01,
        6.44559457e-01, 2.69832970e-03, 1.00000000e+00, 8.86973292e+00],
       [5.65382262e-01, 6.01669134e-01, 9.33853455e-01, 5.29840962e-01,
        4.11579077e-01, 1.54586458e-01, 1.00000000e+00, 5.65382262e+00],
       [2.72492452e-02, 2.21372624e-01, 5.70097596e-02, 9.90524392e-01,
        2.93510776e-01, 1.37399398e-01, 1.00000000e+00, 2.72492452e-01]])

In [24]:
df.transpose()

                0         1         2         3         4
Taxa 0   0.496639  0.905235  0.886973  0.565382  0.027249
Taxa 1   0.389942  0.554464  0.416917  0.601669  0.221373
Taxa 2   0.634060  0.098561  0.784853  0.933853  0.057010
Taxa 3   0.397638  0.423028  0.747782  0.529841  0.990524
Taxa 4   0.002819  0.948443  0.644559  0.411579  0.293511
Taxa 5   0.676669  0.439610  0.002698  0.154586  0.137399
F        1.000000  1.000000  1.000000  1.000000  1.000000
product  4.966387  9.052348  8.869733  5.653823  0.272492

In [25]:
df2.T

,0,1,2,3
A,10,10,10,10
B,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,teste,train

In [37]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}, index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 'B': ['B4', 'B5', 'B6', 'B7'], 'C': ['C4', 'C5', 'C6', 'C7'], 'D': ['D4', 'D5', 'D6', 'D7']}, index=[4, 5, 6, 7])

In [38]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [39]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [40]:
df1 + df2

     A    B    C    D
0  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN

In [42]:
frames = pd.concat([df1, df2])
frames

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [52]:
pd.concat?

In [56]:
grupo = pd.concat([df1, df2], keys=['df1-', 'df2-'])
grupo

         A   B   C   D
df1- 0  A0  B0  C0  D0
     1  A1  B1  C1  D1
     2  A2  B2  C2  D2
     3  A3  B3  C3  D3
df2- 4  A4  B4  C4  D4
     5  A5  B5  C5  D5
     6  A6  B6  C6  D6
     7  A7  B7  C7  D7

In [60]:
grupo.loc['df2-']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [62]:
grupo2 = df1.append(df2)
grupo2

C:\Users\willon.ferreira\AppData\Local\Temp\ipykernel_4408\518529213.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  grupo2 = df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7