In [2]:
import pandas as pd

In [8]:
cadastro_a = {'Id':['AA2930', 'BB4563', 'CC2139', 'DE2521', 'GT3462', 'HH1158'],
              'Nome':['Victor', 'Amanda', 'Bruna', 'Carlos', 'Ricardo', 'Maria'],
              'Idade': [20, 35, 40, 54, 30, 27],
              'CEP': ['00092-029', '11111-111', '22222-888', '00000-999', '88888-111', '77777-665']}
cadastro_a = pd.DataFrame(cadastro_a, columns=['Id', 'Nome', 'Idade', 'CEP'])
cadastro_a

       Id     Nome  Idade        CEP
0  AA2930   Victor     20  00092-029
1  BB4563   Amanda     35  11111-111
2  CC2139    Bruna     40  22222-888
3  DE2521   Carlos     54  00000-999
4  GT3462  Ricardo     30  88888-111
5  HH1158    Maria     27  77777-665

In [10]:
cadastro_b = {'Id':['CC9999', 'EF4488', 'DD9999', 'GT3462', 'HH1158'],
              'Nome':['Marcos', 'Patrícia', 'Ericka', 'Ricardo', 'Maria'],
              'Idade': [19, 30, 22, 30, 27],
              'CEP': ['00092-029', '11111-111', '11111-888', '88888-111', '77777-665']}
cadastro_b = pd.DataFrame(cadastro_b, columns=['Id', 'Nome', 'Idade', 'CEP'])
cadastro_b

       Id      Nome  Idade        CEP
0  CC9999    Marcos     19  00092-029
1  EF4488  Patrícia     30  11111-111
2  DD9999    Ericka     22  11111-888
3  GT3462   Ricardo     30  88888-111
4  HH1158     Maria     27  77777-665